<div class="footer">
  <div class="ui center aligned container">
    <div class="ui horizontal inverted small divided link list">
      <a class="item" href="https://semantic-ui.com/examples/fixed.html#">Site Map</a>
      <a class="item" href="https://semantic-ui.com/examples/fixed.html#">Contact Us</a>
      <a class="item" href="https://semantic-ui.com/examples/fixed.html#">Terms and Conditions</a>
      <a class="item" href="https://semantic-ui.com/examples/fixed.html#">Privacy Policy</a>
    </div>
  </div>
</div>
<!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script>
  $('#inputData').change(function () {
    let file = $('#inputData').prop('files')[0];
    let fileURL = URL.createObjectURL(file);
    $('#inputPath').attr("value", fileURL);
  });
</script> -->
</body>

</html>