<div class="footer">
    <div class="ui center aligned container">  
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="https://semantic-ui.com/examples/fixed.html#">Site Map</a>
        <a class="item" href="https://semantic-ui.com/examples/fixed.html#">Contact Us</a>
        <a class="item" href="https://semantic-ui.com/examples/fixed.html#">Terms and Conditions</a>
        <a class="item" href="https://semantic-ui.com/examples/fixed.html#">Privacy Policy</a>
      </div>
    </div>
  </div>
</body>
</html>