<%- include ("partials/header.ejs") %>
<div class="ui main text container">
    <div class="ui blue huge header">ML Models</div>
    <div class="ui three column grid">
        <div class="column">
            <div class="ui fluid card">
                <a class="image" href="/models/new">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQwZzR9AxLHCDTS5eR13q98RG9bp0fMy3OMSpph3vxxr8nO0dQh&usqp=CAU" alt="Image 1">
                </a>
                <div class="content">
                    <a class="header" href="/models/new">New Model</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <a class="image" href="/models/custom">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQwZzR9AxLHCDTS5eR13q98RG9bp0fMy3OMSpph3vxxr8nO0dQh&usqp=CAU" alt="Image 1">
                </a>
                <div class="content">
                    <a class="header" href="/models/custom">Custom Models</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <a class="image" href="/models/trained">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQwZzR9AxLHCDTS5eR13q98RG9bp0fMy3OMSpph3vxxr8nO0dQh&usqp=CAU" alt="Image 1">
                </a>
                <div class="content">
                    <a class="header" href="/models/trained">Pre-trained Models</a>
                </div>
            </div>
        </div>
    </div>

</div>

<%- include ("partials/footer.ejs") %>