<%- include ("partials/header.ejs") %>
<div class="ui main text container segment">
    <div class="ui huge header">Add New Algorithm</div>
    <form class="ui form" action="/algorithms" method="POST">
        <div class="field">
            <label>Name</label>
            <input type="text" name="algorithm[name]" placeholder="name">
        </div>        
        <div class="field">
            <label>Type</label>
            <div class="inline fields">
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="algorithm[type]" value="regression" checked="checked">
                        <label>Regression</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="algorithm[type]" value="classification">
                        <label>Classification</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <label>Desription</label>
            <textarea name="algorithm[description]" placeholder="description"></textarea>
        </div>

        <input class="ui violet basic button" type="submit" value="Add">
        <a class="ui violet basic button" href="/algorithms">Cancel</a>
    </form>
</div>

<%- include ("partials/footer.ejs") %>