<%- include ("partials/header.ejs") %>
<div class="ui main text container">
    <div class="ui huge header">Create New Model</div>
    <form class="ui form" action="/models" method="POST">
        <div class="field">
            <label>Name</label>
            <input type="text" name="model[name]" placeholder="name">
        </div>
        <div class="field">
            <label>Algorithm</label>
            <select class="ui dropdown" name="model[algorithm]">
                <%algorithms.forEach(function(algorithm){%>
                <option value=<%=algorithm._id%>><%=algorithm.name%></option>
                <%});%>
            </select>
        </div>
        <div class="field">
            <label>Input CSV URL</label>
            <input type="text" name="model[inputPath]" placeholder="input csv url">
        </div>
        <div class="field">
            <label>Desription</label>
            <textarea name="model[description]" placeholder="description"></textarea>
        </div>

        <input class="ui violet basic button" type="submit" value="Create">
        <a class="ui violet basic button" href="javascript:history.back()">Cancel</a>
    </form>
</div>
<%- include ("partials/footer.ejs") %>