i.icon{
        font-size: 2em;
}

.container.main{
    margin-top: 7em;
}

#delete{
    display: inline;
}

.footer
{
  background-color: #101113; 
  line-height: 100px;
  text-align:center;
  clear:both;
  position: relative;;
  width :100%;
  bottom :0;
  font-family :'lato';
  margin-top:10em; 
}

.ui.text.container {
  max-width: 800px !important;
}

.gradient-grey-top{
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}